<% if account_signed_in? %>
    <div class="float-right">
        <%= link_to 'Create new community', new_community_path, class: "btn btn-outline-primary" %>
    </div> 
<% end %> 
<% if @communities.size != 0 %>
    <% @communities.each do |community| %>
        <div class="card">
            <div class="h3">
                <%= link_to community.name, community %> 
            </div>
            <%= simple_format community.rules %> 
        </div>
    <% end %>
<% else %>
    <p>No communities to display.</p>
<% end %>