<div class="container">
    <div class="row">
        <div class="col">
            <p class="h4">Trending</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Trending 1
        </div>
        <div class="col-sm-3">
            Trending 2
        </div>
        <div class="col-sm-3">
            Trending 3
        </div>
        <div class="col-sm-3">
            Trending 4
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <p class="h4">Popular posts</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            leftCol wide
        </div>
        <div class="col-4 mb-4">
            <p class="h5">Top Communitites</p>
            <ol class="list-group">
                <% @communities.each do |community| %>
                    <li class="list-group-item">
                        <%= link_to community.name, community %>
                    </li>
                <% end %>  
            </ol>
            <%= link_to "View All", communities_path, class: "mt-3 btn btn-primary" %> 
        </div>
    </div>
</div>